/*header and footer*/

/*Basic*/

html, body {
   margin: 0;
   padding: 0;
 }

 /*basic end*/

 /*Header*/

 .header{
     background-color: white;
     z-index: 1;
     position:fixed;
     width: 100%;
     box-shadow: 5px 10px 25px;
 }

 .header img{
 	margin-left: 20px;

 }

 .header_buttons{
 	font-weight:bold;
 	font-size: 20px;
 	margin-left: 10px;
 	padding: 10px 10px;
 	margin-top: 20px;
 	justify-content: center;
 	margin-bottom: 15px;
 }

.header_buttons a:active,
 .header_buttons a:visited,
 .header_buttons a:link{
	color:black;
    text-decoration: none;
}

.header_buttons a:hover{
	text-decoration: underline 5px solid green;
	text-underline-offset: 30px;
}

 .promocode{
     margin-top: -4px;
     float:right;
     margin-right: 2vw;
     border-bottom-left-radius:0.5rem;
     border-top-left-radius:0.5rem;
     border-bottom-right-radius:0.5rem;
     border-top-right-radius:0.5rem;
     box-shadow: rgba(98, 98, 98, 0.75) 3px 3px 6px -1px
 }

 #promo:focus{
     border: 2px solid rgb(	0, 140, 69);
     outline: none;
 }

 #promo{
     height: 30px;
     border-bottom-left-radius:0.5rem;
     border-top-left-radius:0.5rem;
     border: 2px solid black;
     border-right:none;
     font-weight: 900;
     font-size:15px;

 }

 #promo_button{
     height:36px;
     border-bottom-right-radius:0.5rem;
     border-top-right-radius:0.5rem;
     border: 2px solid rgb(	0, 140, 69);
     border-left: none;
     margin-left: 0;
     background-color: rgb(	0, 140, 69);
     color: white;
     font-weight: 900;
     font-size:15px;

 }

 #promo_button:hover , #promo:hover{
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

 }

 #promo_button:active{
     color:black;
     background-color: #0C681B;
     border: 2px solid #0C681B;
 }

 .header_buttons a{
 	margin-right: 10px;

 }

 /*Three bar menu page code starts*/

 .menu{
   margin:0.5vw;
   margin-right:12px;
   float: right;
   display: inline-block;
   cursor: pointer;
 }

 .bar1, .bar2, .bar3 {
   width: 35px;
   height: 5px;
   background-color: #333;
   margin: 6px 0;
   transition: 0.4s;
 }

 .change .bar1 {
   transform: translate(0, 11px) rotate(-45deg);

 }

 .change .bar2 {
 opacity: 0;

 }

 .change .bar3 {
   transform: translate(0, -11px) rotate(45deg);

 }

 /*Three bar menu page code ends*/

 /*Header end*/

 /*Footer*/

.footer{
    box-shadow:5px 10px 25px;
}
.footer hr{
    margin: 0;
    padding:0;
    border: none;


}
 .flex-text{
 display:flex;
 flex-direction:row;
 align-items: center;
 justify-content: center;
 }

 .flex-text a{
 	margin-right: 10px;
    font-weight: 300;
    font-family: sans-serif;
 }

 .flex-text a:link{
 	color:black;
 	text-decoration:none;
 }

 .flex-text a:active {
 	color:black;
     text-decoration: none;
 }

 .flex-text a:visited{
 	color:black;
     text-decoration: none;
 }

 .flex-text a:hover{
     text-decoration: underline solid 2px black;
     text-underline-offset: 2px;
 }

 .flex-text > div{
    width: 100%;
     height: 200px;
     margin 30px;
     text-align:center;
 }

 .left-info{

 background-color: #008C45;

 }

 .center-info{
    background-color: #F4F9FF;

 }

 .right-info{
    background-color: #CD212A;
 }

 /*Footer ends*/

/*End of header and footer*/