.container{
    width:100vw;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: 1fr 2.2fr;
    grid-template-areas:
    "topbar topbar topbar"
    "content content content"
    "footer footer footer"
}

.top{grid-area: topbar;}
.content {grid-area: content}
.footer{grid-area: footer}

.content {
 padding-top: 30vh;

}
.footer{
    padding-top: 20vh;
}


/*Start of windows*/
.flex_text_content{
     display:flex;
     flex-direction:row;
     align-items: center;
     justify-content: center;
     gap:30px;

}

.flex_text_content > div{
    position:relative;
    border: 3px solid black;
    height: 30vh;
    width: 100%;
    border-radius: 1rem;
    background-color: #008C45;
    margin:0;

}

.flex_text_content > * > p{
    margin-left: 1vw;
    margin-right: 1vw;
    color: black;
    font-family: sans-serif;
    text-align: center;
}

.flex_text_content > * > h3{

    margin:0;
    margin-left: 1vw;
    padding:0;

}

.button_flex_text{
    text-align:center;
    margin-bottom: 1vh;
    margin-top: 1vh;
    padding: 0.5rem;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    text-decoration: none;
    color: black;
    background-color: blue;
    border-radius: 1rem;
    font-weight: 900;
    font-size: 1rem;
    font-family: sans-serif;
    border: none;
}








/*End of windows*/
